[submodule "modules/custom/effective_activism"]
	path = modules/custom/effective_activism
	url = https://github.com/EffectiveActivism/effective_activism
[submodule "profiles/activeforanimals"]
	path = profiles/activeforanimals
	url = https://github.com/ActiveForAnimals/activeforanimals
